body {
    background-color: silver;
}

h1 {
    font-family: 'NanumGothic Bold';
}

p {
    font-family: 'NanumGothic';
    font-size: 20px;
}

.container {
    font-family: 'NanumGothic', fantasy;
    width: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}